<!doctype html>
<html lang="en">

<head>
    <title>Producto Nuevo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <div class="container-fluid p-5 bg-dark text-white text-center">
        <h1>Agenda de contactos</h1>
        <p>Actualice los datos necesarios</p> 
    </div>
    <main>
        <div class="container" id="app">
            <form style="background-color: rgb(197, 224, 248);margin:10px auto ; width: 400px; padding: 20px;">
                <!-- <h2>Editar Contacto </h2> -->
                <!-- <p>Precio:{{precio}}</p> -->
                <div class="mb-3">
                    <label for="id_contacto" class="form-label">Id Contacto</label>
                    <input type="number" class="form-control" name="id_contacto" id="id_contacto" disabled v-model="id_contacto">
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" v-model="nombre">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" v-model="apellido">
                </div>
                <div class="mb-3">
                    <label for="correo_electronico" class="form-label">Correo electronico</label>
                    <input type="text" class="form-control" name="correo_electronico" id="correo_electronico" v-model="correo_electronico">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="number" class="form-control" name="telefono" id="telefono" v-model="telefono">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" v-model="direccion">
                </div>
                <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"> </script>
    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/contacto_editar.js"></script>
</body>

</html>